body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: #363636;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh; 
}

.container {
  width: 80%;
  text-align: center; 
}

header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  position: relative; 
  margin-top: 100px; 
  margin-bottom: 20px;
}

#dynamic-animation {
  font-size: 24px;
  color: #049b04;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 10px; 
}

#dynamic-text {
  color: #049b04;
  text-align: left;
  font-size: 24px;
  margin-top: 20px;
}


#ascii-image {
  margin: 20px 0;
  
}

h1 {
  color: #049b04;
  font-size: 28px;
  margin-bottom: 20px; 
}

h2#dynamic-text {
  align-self: flex-start; 
  color: #049b04;
  font-size: 24px;
  margin: 0;
  white-space: nowrap; 
}


canvas {
  display: block;
  margin: 10px auto;
  background-color: #000;
  align-items: center; 
  justify-content: center; 
}

input[type="file"], input[type="range"] {
  margin-top: 10px;
}

h1 {
  color: #049b04;
  margin-top: 10px; 
}

h2 {
  color: #049b04;
  text-align: left; 
  margin-left: 10px;
}

section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
}

#about {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
}

.about-category {
  margin-bottom: 30px; 
}

.about-category h3 {
  color: #049b04; 
  font-size: 20px;
  text-align: left; 
  margin-bottom: 10px; 
}


#skills {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
}

.skill-category {
  margin-bottom: 30px; 
}

.skill-category h3 {
  color: #049b04; 
  font-size: 20px;
  text-align: left; 
  margin-bottom: 10px; 
}

.skill-category ul {
  list-style: none; 
  padding: 0;
  display: flex; 
  gap: 20px; 
}

.skill-category ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-category ul li img {
  width: 48px; 
  height: 48px; 
  border-radius: 8px; 
  border: 2px solid #5f5f5f; 
  display: block;
  background-color: #222; 
  padding: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s, box-shadow 0.3s; 
}


.skill-category ul li img:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.7); 
}






#certifications {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
}

.certification-category {
  margin-bottom: 30px; 
}

.certification-category h3 {
  color: #049b04; 
  font-size: 20px;
  text-align: left; 
  margin-bottom: 10px; 
}

.certification-category ul {
  list-style: none; 
  padding: 0;
  display: flex; 
  gap: 20px; 
}

.certification-category ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}



.archiving-category {
  margin-bottom: 30px; 
}

.archiving-category h3{
  color: #049b04; 
  font-size: 20px;
  text-align: left; 
  margin-bottom: 10px; 
}

.archiving-category p {
  color: #049b04; 
  font-size: 20px;
  text-align: left;
  margin-left: 20px; 
  margin-bottom: 15px; 
  font-weight: 1000;
}


.archiving-category ul {
  list-style: none; 
  padding: 0;
  display: flex; 
  gap: 20px; 
}

.archiving-category ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}




.archiving-category ul li img {
  width: 48px; 
  height: 48px; 
  border-radius: 8px; 
  border: 2px solid #5f5f5f; 
  display: block;
  background-color: #fcfbfb; 
  padding: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s, box-shadow 0.3s; 
}


.archiving-category ul li img:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.7); 
}